<<<<<<< HEAD

=======
<h1>Github is a dirty terrorist</h1>

<h3>Is this is the event you're looking for?</h3>

<%= @events.date %> <br>
<%= @events.alcohol_served %> <br>
<%= @events.venue_id %> <br> 
<%= @events.band_id %> <br>
>>>>>>> bfd57d8d875b6c28e31a0bad980813caa78b256a
