<<<<<<< HEAD

=======
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  

<h1>I HAVE CONQUERED THE ERRORS. BLOOD WAS SPILLED.</h1>

<h3><% @venues.each do |venue| %></h3>
Venue Name: <%= venue.name %> <br>
City: <%= venue.city %> <br>
State: <%= venue.state %> <br> 
Family Friendly: <%= venue.family_friendly %> <br> <br>
<% end %>


</body>
</html>
>>>>>>> c79b4a582d6567c5b93073e0cfaad59288874e5a
